@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$light-green-palette);
$warn: mat.define-palette(mat.$pink-palette);
$typography: mat.define-typography-config($font-family: 'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"');


$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: $typography
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.input-theme($theme);
@include mat.slide-toggle-theme($theme);
@include mat.form-field-theme($theme);
@include mat.button-typography($typography);
@include mat.input-typography($typography);
@include mat.slide-toggle-typography($typography);
@include mat.form-field-typography($typography);
